#register{
	width:30%;
	height:90%;
	background-color:white;
	position:fixed;
	bottom:0px;
	right:0px;
	
}
#tu{
	position:fixed;
	top:60px;
	
}

img{
	width:850px;
	height:530px;
}
span{
	display:inline-block;
	width:180px;
	height:50px;
	font-size:20px;
	color:silver;
}

.txt{
	width:190px;
	height:35px;
}
#btn{
	display:inline-block;
	text-align:center;
	margin-left:40px;
	margin-top:30px;
	width:290px;
	height:48px;
	background-color:rgb(18,173,169);
	border:1px rgb(18,173,169) solid;
	color:white;
}

#aaa{
	margin-top:70px;
}

#title{
	position:fixed;
	left:40%;
	top:-20px;
}